split() {
    local string="$1"
    local delimiter="$2"
    if [ -n "$string" ]; then
        local part
        while read -d "$delimiter" part; do
            printf "\t"
            echo $part
        done <<< "$string"
        echo $part
    fi
}

printf "\n"

# set PYTHONPATH
unset PYTHONPATH
# export PYTHONPATH="$(git rev-parse --show-toplevel):${PYTHONPATH}"
export PYTHONPATH="/Users/youngjae/Documents/git/flask_tutorial/jump_to_flask:${PYTHONPATH}"

printf "\nPYTHONPATH:\n"
split $PYTHONPATH ":"
printf "\n\n"

# FLASK_APP, FLASK_ENV
unset FLASK_APP
export FLASK_APP="/Users/youngjae/Documents/git/flask_tutorial/pybo/__init__"

unset FLASK_ENV
export FLASK_ENV=development

printf "FLASK_APP:\n\t"
echo $FLASK_APP
printf "FLASK_ENV:\n\t"
echo $FLASK_ENV
printf "\n\n"


# activate pyenv
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
source ~/.bash_profile  # this code needed to activate pyenv
pyenv activate flask  # activate specific virtualenv name
printf "pyenv is activated\n\n"

# print pyenv versions
printf "\nPyenv versions:\n\t"
pyenv versions | grep "*"
printf "\n\n"

# print message
printf "direnv is done\n\n\n"