split() {
    local string="$1"
    local delimiter="$2"
    if [ -n "$string" ]; then
        local part
        while read -d "$delimiter" part; do
            printf "\t"
            echo $part
        done <<< "$string"
        echo $part
    fi
}

printf "\n"

# set PYTHONPATH
unset PYTHONPATH
# export PYTHONPATH="$(git rev-parse --show-toplevel):${PYTHONPATH}"

printf "\nPYTHONPATH:\n"
split $PYTHONPATH ":"
printf "\n\n"

# activate pyenv
export PYENV_VIRTUALENV_DISABLE_PROMPT=1
source ~/.bash_profile  # this code needed to activate pyenv
pyenv activate flask  # activate specific virtualenv name
printf "pyenv is activated\n\n"

# print pyenv versions
printf "\nPyenv versions:\n\t"
pyenv versions | grep "*"
printf "\n\n"

# print message
printf "direnv is done\n\n\n"